@import '../global.scss';

footer{
  @include size(100%, 100px);
  @include display-flex();
  background: $color5;
  @include  mobile-screen(){
    @include size(100%, 150px);
  }

  .container-footer{
    @include size(90%, 50px);
    @include display-flex-row-between();
    @include  mobile-screen(){
      flex-direction: column;
      @include size(90%, 100px);
      justify-content: space-evenly;
    }
    // background-color: brown;


    .text-footer{
      // background-color: yellow;
      @include size(30%, 30px);
      @include display-flex();
      @include  mobile-screen(){
        @include size(90%, 30px);
      }
      p{
        @include font-Roboto(12px);
        color: $color2;
        letter-spacing: 2px;
      }
    }

    .social-networks-container{
      // background-color: rgb(102, 102, 67);
      @include size(30%, 30px);
      @include display-flex-row();
      @include  mobile-screen(){
        @include size(90%, 30px);
      }

      .social-networks{
        // background-color: darkgreen;
        @include size(15%, 100%);
        @include display-flex();
        a{
          // background-color: darkcyan;
          text-decoration:none;
          @include font-Roboto(16px);
          color: $color2;
          cursor: pointer;
          i {

            &:hover{
              @include neon();
            }
          }

        }
      }
    }

  }

}
